/* Custom Properties */
:root {
  --max-width: 1200px;
  --header-height: 4rem;

  --font: "Arial", "sans-serif";
  --mark-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --border-radius: 1.5rem;

  --first-color: #C1605C;
  --first-alpha-color: rgba(193, 96, 92, 0.75);
  --second-color: #E9C3B8;
  --second-alpha-color: rgba(233, 195, 184, 0.75);
  --third-color: #FDF0EC;
  --third-alpha-color: rgba(253, 240, 236, 0.75);
  --white-color: #FEFBF6;
  --white-alpha-color: rgba(254, 251, 246, 0.75);

  --first-contrast-color: #224A54;
  --first-contrast-alpha-color: rgba(34, 74, 84, 0.75);
  --second-contrast-color: #1F4954;
  --second-contrast-alpha-color: rgba(31, 73, 84, 0.75);
  --third-contrast-color: #98BEC8;
  --third-contrast-alpha-color: rgba(152, 190, 200, 0.75);
  --fourth-contast-color: #D7E0E5;
  --fourth-contrast-alpha-color: rgba(215, 224, 229, 0.75);
  --black-color: #1A1A1A;
  --black-alpha-color: rgba(26, 26, 26, 0.75);

  --first-title-color: #3BAB87;
  --first-title-alpha-color: rgba(57, 171, 135, 0.75);

}

/* Reset */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--third-color);
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--black-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--first-title-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  color: var(--first-title-alpha-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Components */

.menu-btn {
  background-color: var(--first-color);
  /* outline: thin solid var(--first-color); */
  border: 0;
  cursor: pointer;
}

.menu-btn img {
  fill: var(--first-color);
  width: 2rem;
  height: 2rem;
}


.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
  display: block;
  width: 100vw;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}


/* Utils */

.box-shadow {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.btn {
  color: var(--white-color);
  background-color: var(--first-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* Site styles */

header {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;

  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--first-color);

}

header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: bold;
  font-size: 2rem;
  color: var(--white-color);

}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.article--name-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  margin: 0.8rem 0;
  background-color: var(--first-title-color);
  color: var(--white-color);
  height: auto;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.name-item {
  width: 100%;
  display: flex;
}

.name {
  justify-content: start;
}

.lastname {
  justify-content: end;
}

.section--profile {
  background-color: var(--third-contrast-color);
  width: 60vw;
  border-radius: var(--border-radius);
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  border-radius: var(--border-radius);
  background-color: var();
}


.profile-photo img {
  width: 50vw;
  height: auto;
  border-radius: var(--border-radius);
}


.article--links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.link a img{
  width: auto;
  height: 2.4rem;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: fit-content;
  margin: 1.2rem 0;
  padding: 1.2rem;
  background-color: var(--second-color);
  position: relative;
  border-top: dashed var(--black-color) 0.4rem;
  border-bottom: dashed var(--black-color) 0.4rem;
}

.about-container p, .about-container h2 {
  text-align: center;
}

.mark {
  font-style: italic;
  font-family: var(--mark-font);
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  color: var(--first-contrast-color);
  font-weight: bold;
}

.download-cv {
  margin: 0.4rem 0;
}

.flex-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 100%;
  padding: 1.2rem;
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.2rem;
}

.data > h2 {
  text-decoration: underline;
}

.data {
  width: 70vw;
  gap: 1rem
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.projects-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
