/* Custom Properties */
:root {
  --font: "Arial", "sans-serif";

  --first-color: #C1605C;
  --first-alpha-color: rgba(193, 96, 92, 0.75);
  --second-color: #E9C3B8;
  --second-alpha-color: rgba(233, 195, 184, 0.75);
  --third-color: #FDF0EC;
  --third-alpha-color: rgba(253, 240, 236, 0.75);
  --white-color: #FEFBF6;
  --white-alpha-color: rgba(254, 251, 246, 0.75);

  --first-contrast-color: #224A54;
  --first-contrast-alpha-color: rgba(34, 74, 84, 0.75);
  --second-contrast-color: #1F4954;
  --second-contrast-alpha-color: rgba(31, 73, 84, 0.75);
  --third-contrast-color: #98BEC8;
  --third-contrast-alpha-color: rgba(152, 190, 200, 0.75);
  --fourth-contast-color: #D7E0E5;
  --fourth-contrast-alpha-color: rgba(215, 224, 229, 0.75);
  --black-color: #1A1A1A;
  --black-alpha-color: rgba(26, 26, 26, 0.75);

  --first-title-color: #3BAB87;
  --first-title-alpha-color: rgba(57, 171, 135, 0.75);

}

/* Reset */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--third-contrast-color);
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--black-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--first-title-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  color: var(--first-title-alpha-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}


/* Utils */

.box-shadow {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
