main {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.main-workExperience {
  grid-column-start: 2;
  grid-column-end: 3;
}

.main-workExperience > .main-content {
  flex-direction: row;
  width: fit-content;
}

.main-content > .main-item {
  margin: 2rem;
}

.main-content > .main-img {
  margin: 2rem;
}

.main-Education {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main-projects {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

