<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Soria</title>
</head>
<body>
     <header>
      <div class="header-name">
        <h1>Paul Soria</h1>
      </div>
      <div class="header-img">
        <img src="../public/profile.png" alt="Paul Soria's photo">
      </div>
      <div class="header-links">
        <a href="https://github.com/dpaulsoria">
          <img src="../public/github.png" alt="Github logo">
        </a>
        <a href="https://www.linkedin.com/in/dpaulsoria">
          <img src="../public/linkedin.png" alt="Linkedin logo">
        </a>
      </div>
     </header>
     <main>
      <div class="main-workExperience">
        <div class="main-wE-title">
          <h2>Work Experience</h2>
        </div>
        <div class="main-wE-content">
          <div class="main-wE-item">
            <h3>Youth Coordinator<br>(Volunteer)</h3>
            <h4>Fundación LYA (Liderazgo y Acción)</h4>
            <h4>SEP 2017 - OCT 2019</h4>
          </div>
          <div class="main-wE-img">
            <img src="../public/lya.png " alt="Volunteer in Fundación LYA">
          </div>
        </div>
        <div class="main-wE-content">
          <div class="main-wE-item">
            <h3>HR Department<br>Assistant</h3>
            <h4>Telconet</h4>
            <h4>DEC 2017 - JAN 2018</h4>
          </div>
          <div class="main-wE-img">
            <img src="../public/telconet.jpg" alt="Telconet's building">
          </div>
        </div>
      </div>
      <div class="main-Education">
        <div class="main-e-title">
          <h2>Education</h2>
        </div>
        <div class="main-e-content">
          <div class="main-e-item">
            <h3>Computer Science<br>Engineer</h3>
            <h4>Escuela Superior<br>Politecnica del Litoral</h4>
            <h4>2018 - To this day</h4>
          </div>
          <div class="main-e-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31896.12907712904!2d-79.97610821762423!3d-2.147508780166349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d72f925e5bfdb%3A0x327cdb9f7f4ba3b2!2sEscuela%20Superior%20Politecnica%20del%20Litoral!5e0!3m2!1sen!2sec!4v1666714336783!5m2!1sen!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
      <div class="main-projects">
        <div class="main-projects-title">
            <h2>Projects</h2>
        </div>
        <div class="main-projects-p">
          <div class="main-p-content">
            <div class="main-p-item">
              <div class="main-p-item-title">
                <h3>Lexical and Syntactic<br>Analyzer for C language</h3>
                <h4>Course: Programming Languages</h4>
              </div>
              <div class="main-p-item-img">
                <img src="../public/cAnalyzer/1.png" alt="Analyzer's input area">
                <img src="../public/cAnalyzer/2.png" alt="Analyzer's lexical output area">
                <img src="../public/cAnalyzer/3.png" alt="Analyzer's syntactic output area">
              </div>
            </div>
          </div>
          <div class="main-p-content">
            <div class="main-p-item">
              <div class="main-p-item-title">
                <h3>Tic Tac Toe: Using Data Structures in Java</h3>
                <h4>Course: Data Structures</h4>
              </div>
              <div class="main-p-item-img">
                <img src="../public/tictactoe/1.png" alt="Game's welcome window">
                <img src="../public/tictactoe/2.png" alt="First step in game">
                <img src="../public/tictactoe/3.png" alt="The algorithm is working">
                <img src="../public/tictactoe/4.png" alt="Game message">
              </div>
            </div>
          </div>
          <div class="main-p-content">
            <div class="main-p-item">
              <div class="main-p-item-title">
                <h3>Game: Discovering <br>Ecuador, developed <br>in Java</h3>
                <h4>Course: Discrete Maths</h4>
              </div>
              <div class="main-p-item-img">
                <img src="../public/discoveringEcuador/1.png" alt="Game's welcome window">
                <img src="../public/discoveringEcuador/2.png" alt="First step in game">
                <img src="../public/discoveringEcuador/3.png" alt="Game message">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-certifications">
        <table>
          <tr>
            <th>Design Systems</th>
            <th>Git & Github Professional <br> Course</th>
            <th>Mathematics for Machine <br> Learning: Linear Algebra</th>
          </tr>
          <tr>
            <td>Platzi - 37 Hours</td>
            <td>Platzi - 22 Hours</td>
            <td>Imperial College London - 25 Hours</td>
          </tr>
          <tr>
            <td>
              <img src="../public/Certifications/DeisgnSystems.png" alt="Design Systems Certification by Platzi">
            </td>
            <td>
              <img src="../public/Certifications/GitGithubProfessionalCourse-Platzi.png" alt="Git and Github Professional Course Certification by Platzi">
            </td>
            <td>
              <img src="../public/Certifications/ICL-MfML.png" alt="Mathematics for machine learning (Linear algebra) Certification by Imperial College London">
            </td>
          </tr>
        </table>
      </div>
      <div class="main-getInTouch">
        <form action="GET">
          
        </form>
      </div>
     </main>
</body>
</html>
