<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://192.168.2.106:8080/static/styles.css">
    <link rel="stylesheet" media="(min-width: 376px)" href="http://192.168.2.106:8080/static/phone-M.css">
    <link rel="stylesheet" media="(min-width: 426px)" href="http://192.168.2.106:8080/static/tablet.css">
    <link rel="stylesheet" media="(min-width: 1024px)" href="http://192.168.2.106:8080/static/laptop.css">
    <title>Paul Soria</title>
</head>
<body>
  <header>
    <section class="container">
      <div class="logo">
        <a href="index.html">dpaulsoria</a>
      </div>
      <div class="menu-btn-container">
        <button class="menu-btn">
          <img class="menu-btn-img" src="http://192.168.2.106:8080/static/menu.png" alt="Menu image">
          <img class="menu-btn-img none" src="http://192.168.2.106:8080/static/cross.png" alt="Cross image">
        </button>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact-me">Contact me</a></li>
        </ul>
      </nav>
    </section>
  </header>

  <section id="home" class="home">
    <article class="article--name-container container box-shadow">
      <div class="name name-item">
        <h1>Paul</h1>
      </div>
      <div class="lastname name-item">
        <h1>Soria</h1>
      </div>
    </article>
    <section class="section--profile box-shadow">
      <article class="article--photo-container container">
        <div class="profile-photo">
          <img src="http://192.168.2.106:8080/static/profile.png" alt="Paul Soria's profile photo">
        </div>
      </article>
      <article class="article--links-container container">
        <div class="link">
          <a href="https://linkedin.com/in/dpaulsoria">
            <img src="http://192.168.2.106:8080/static/linkedin.png" alt="Linkedin's logo">
          </a>
        </div>
        <div class="link">
          <a href="https://github.com/dpaulsoria">
            <img src="http://192.168.2.106:8080/static/github.png" alt="Github's logo">
          </a>
        </div>
      </article>
    </section>
  </section>

  <section id="about" class="about">
    <article class="about-container">
      <h2>Computer Science Engineer</h2>
      <p>
        I am passionate about programming and understanding how some complex mechanisms work. I am really dedicated to what I like, in my family they say that I was born for this career.
      </p>
      <aside class="about-mark mark">
        <small>About</small>
      </aside>
      <div class="download-cv">
        <a href="http://192.168.2.106:8080/static/CV-DannySoria-SoftwareDeveloper.pdf" class="btn" target="_blank" rel="noopener">Download my CV</a>
      </div>
    </article>
  </section>

  <section id="projects" class="projects projects-container grid-container">
    <article id="tictactoe-project" class="projects-item-container grid-item">
      <aside class="project-info tictactoe-info">
        <div class="flex-data-container">
          <div class="data">
            <h2>Tic Tac Toe: Using Data Structures in <b><i>Java</i></b></h2>
            <h3>Course: Data Structures</h3>
          </div>
          <div class="link">
            <a href="https://github.com/dpaulsoria/tictactoe">
              <img src="http://192.168.2.106:8080/static/github.png" alt="Github repository of Tic Tac Toe">
            </a>
          </div>
        </div>
        <div class="description">
          <p>Tic tac toe is a game developed using Dijkstra algorithm and the Object Oriented Programming (OOP) paradigm, that shows the player a clue for the next step to beat the simulated AI.</p>
        </div>

      </aside>
      <div class="tictactoe-project-imgs flex-container">
        <div class="flex-item">
          <img src="http://192.168.2.106:8080/static/tictactoe/1.png" alt="">
        </div>
        <div class="flex-item">
          <img src="http://192.168.2.106:8080/static/tictactoe/2.png" alt="">
        </div>
      </div>
    </article>
    <article id="cAnalyzer-project" class="projects-item-container grid-item">
      <aside class="project-info cAnalyzer-info">
        <div class="flex-data-container">
            <div class="data">
            <h2>Lexical and Syntactic Anaylzer for<b><i>C language</i></b></h2>
            <h3>Course: Programming Languages</h3>
          </div>
          <div class="link">
            <a href="https://github.com/dpaulsoria/cAnalyzer">
              <img src="http://192.168.2.106:8080/static/github.png" alt="Github repository of C Analyzer">
            </a>
          </div>
        </div>
        <div class="description">
          <p>cAnalyzer is an analyzer for C language, developed in Python using the PLY module and tkinter for GUI</p>
        </div>
      </aside>
      <div class="cAnalyzer-project-imgs flex-container">
        <div class="flex-item"><img src="http://192.168.2.106:8080/static/cAnalyzer/1.png" alt=""></div>
        <div class="flex-item"><img src="http://192.168.2.106:8080/static/cAnalyzer/2.png" alt=""></div>
        <div class="flex-item"><img src="http://192.168.2.106:8080/static/cAnalyzer/3.png" alt=""></div>
      </div>
    </article>


    <article id="discoveringEcuador-project" class="projects-item-container grid-item">
      <aside class="project-info discoveringEcuador-info">
        <div class="flex-data-container">
            <div class="data">
            <h2>Game: Discovering Ecuador<b><i> Developed in Java</i></b></h2>
            <h3>Course: Discrete Maths</h3>
          </div>
          <div class="link">
            <a href="https://github.com/dpaulsoria/discoveringEcuador">
              <img src="http://192.168.2.106:8080/static/github.png" alt="Github repository of C Analyzer">
            </a>
          </div>
        </div>
        <div class="description">
          <p>D..</p>
        </div>
      </aside>
      <div class="cAnalyzer-project-imgs flex-container">
        <div class="flex-item"><img src="http://192.168.2.106:8080/static/discoveringEcuador/1.png" alt=""></div>
        <div class="flex-item"><img src="http://192.168.2.106:8080/static/discoveringEcuador/2.png" alt=""></div>
      </div>
    </article>
  </section>

  <section id="certifications" class="certifications">
    <h2>Certifications</h2>
  </section>

  <section id="contact-me" class="contact-me">
    <h2>Contact me</h2>
  </section>

  <footer>
    <small>Designed by
      <a href="index.html" target="_blank" rel="noopener">
        @dpaulsoria
      </a>
    </small>
  </footer>
  <script src="http://192.168.2.106:8080/static/index.js"></script>
</body>
</html>
