<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://192.168.2.106:8080/static/styles.css">
    <link rel="stylesheet" media="(min-width: 426px)" href="http://192.168.2.106:8080/static/tablet.css">
    <link rel="stylesheet" media="(min-width: 769px)" href="http://192.168.2.106:8080/static/laptop.css">
    <title>Paul Soria</title>
</head>
<body>
     <main>
      <header class="header grid-item">
      <div class="header-name">
        <div class="header-name-div">
          <h1 id="name">Paul</h1>
        </div>
        <div class="header-lastname-div">
          <h1 id="lastname">Soria</h1>
        </div>
      </div>
      <div class="header-img">
        <img src="http://192.168.2.106:8080/static/profile.png" alt="Paul Soria's photo">
      </div>
      <div class="header-links">
        <a href="https://github.com/dpaulsoria">
          <img src="http://192.168.2.106:8080/static/github.png" alt="Github logo">
        </a>
        <a href="https://www.linkedin.com/in/dpaulsoria">
          <img src="http://192.168.2.106:8080/static/linkedin.png" alt="Linkedin logo">
        </a>
      </div>
     </header>
      <section class="main-workExperience grid-item">
        <div class="main-wE-title main-title">
          <h2>Work Experience</h2>
        </div>
        <div class="main-wE-content main-content">
          <div class="main-wE-item main-item">
            <h3>Youth Coordinator<br>(Volunteer)</h3>
            <h4>Fundación LYA (Liderazgo y Acción)</h4>
            <h4>SEP 2017 - OCT 2019</h4>
          </div>
          <div class="main-wE-img main-img">
            <img src="http://192.168.2.106:8080/static/lya.png " alt="Volunteer in Fundación LYA">
          </div>
        </div>
        <div class="main-wE-content main-content">
          <div class="main-wE-item main-item">
            <h3>HR Department<br>Assistant</h3>
            <h4>Telconet</h4>
            <h4>DEC 2017 - JAN 2018</h4>
          </div>
          <div class="main-wE-img main-img">
            <img src="http://192.168.2.106:8080/static/telconet.jpg" alt="Telconet's building">
          </div>
        </div>
      </section>
      <section class="main-Education grid-item">
        <div class="main-e-title main-title">
          <h2>Education</h2>
        </div>
        <div class="main-e-content main-content">
          <div class="main-e-item">
            <h3>Computer Science<br>Engineer</h3>
            <h4>Escuela Superior<br>Politecnica del Litoral</h4>
            <h4>2018 - To this day</h4>
          </div>
          <div class="main-e-map main-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31896.12907712904!2d-79.97610821762423!3d-2.147508780166349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d72f925e5bfdb%3A0x327cdb9f7f4ba3b2!2sEscuela%20Superior%20Politecnica%20del%20Litoral!5e0!3m2!1sen!2sec!4v1666714336783!5m2!1sen!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </section>
      <section class="main-projects grid-item">
        <div class="main-projects-title main-title">
            <h2>Projects</h2>
        </div>
        <div class="main-projects-p">
          <div class="main-p-content">
            <div class="main-p-item main-content">
              <div class="main-p-item-title">
                <h3>Lexical and Syntactic<br>Analyzer for C language</h3>
                <h4>Course: Programming Languages</h4>
              </div>
              <div class="main-img">
                <div class="main-p-item-img">
                  <img src="http://192.168.2.106:8080/static/cAnalyzer/1.png" alt="Analyzer's input area">
                </div>
                <div class="main-p-item-img">
                  <img src="http://192.168.2.106:8080/static/cAnalyzer/2.png" alt="Analyzer's lexical output area">
                </div>
                <div class="main-p-item-img">
                  <img src="http://192.168.2.106:8080/static/cAnalyzer/3.png" alt="Analyzer's syntactic output area">
                </div>
              </div>

            </div>
          </div>
          <div class="main-p-content">
            <div class="main-p-item main-content">
              <div class="main-p-item-title">
                <h3>Tic Tac Toe: Using <br> Data Structures in Java</h3>
                <h4>Course: Data Structures</h4>
              </div>
              <div class="main-img">
                <div class="main-p-item-img">
                  <img src="http://192.168.2.106:8080/static/tictactoe/1.png" alt="Game's welcome window">
                </div>
                <div class="main-p-item-img ">
                  <img src="http://192.168.2.106:8080/static/tictactoe/2.png" alt="Game's first step">
                </div>
                <div class="main-p-item-img ">
                  <img src="http://192.168.2.106:8080/static/tictactoe/3.png" alt="Algorithm is working">
                </div>
                <div class="main-p-item-img ">
                  <img src="http://192.168.2.106:8080/static/tictactoe/4.png" alt="Message Game">
                </div>
              </div>
            </div>
          </div>
          <div class="main-p-content">
            <div class="main-p-item main-content">
              <div class="main-p-item-title">
                <h3>Game: Discovering <br>Ecuador, developed <br>in Java</h3>
                <h4>Course: Discrete Maths</h4>
              </div>
              <div class="main-img">
                <div class="main-p-item-img">
                  <img src="http://192.168.2.106:8080/static/discoveringEcuador/1.png" alt="Game's welcome window">
                </div>
                <div class="main-p-item-img">
                  <img src="http://192.168.2.106:8080/static/discoveringEcuador/2.png" alt="First step in game">
                </div>
                <div class="main-p-item-img">
                  <img src="http://192.168.2.106:8080/static/discoveringEcuador/3.png" alt="Game message">
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <section class="main-certifications grid-item">
        <div class="main-c-title main-title">
          <h2>Certifications</h2>
        </div>
        <div class="main-c-content main-content">
          <table>
          <tr>
            <th>Design Systems</th>
            <th>Git & Github Professional <br> Course</th>
            <th>Mathematics for Machine <br> Learning: Linear Algebra</th>
          </tr>
          <tr>
            <td>Platzi - 37 Hours</td>
            <td>Platzi - 22 Hours</td>
            <td>Imperial College London - 25 Hours</td>
          </tr>
          <tr>
            <td>
              <div class="main-img">
                <img src="http://192.168.2.106:8080/static/Certifications/DeisgnSystems.png" alt="Design Systems Certification by Platzi">
              </div>
            </td>
            <td>
              <div class="main-img">
                <img src="http://192.168.2.106:8080/static/Certifications/GitGithubProfessionalCourse-Platzi.png" alt="Git and Github Professional Course Certification by Platzi">
              </div>
            </td>
            <td>
              <div class="main-img">
                <img src="http://192.168.2.106:8080/static/Certifications/ICL-MfML.png" alt="Mathematics for machine learning (Linear algebra) Certification by Imperial College London">
              </div>
            </td>
          </tr>
        </table>
        </div>
      </section>
      <section class="main-getInTouch grid-item">
        <form action="GET">
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname"
        </form>
      </section>
     </main>
</body>
</html>
