:root {
  --first-color: #4E73DF;
  --first-color-alpha: rgba(78, 115, 223, 0.7);



  --normal-color: #A4AcAF;
  --psychic-color: #F366B9;
  --steel-color: #9EB7B8;
  --dark-color: #707070;
  --electric-color: #EED535;
  --fighting-color: #D56723;
  --flying-color-1: #3DC7EF;
  --flying-color-2: #BDB9B8;
  --grass-color: #9BCC50;
  --ice-color: #51C4E7;
  --poison-color: #B97FC9;
  --rock-color: #A38C21;
  --water-color: #4592C4;
  --ground-color-1: #F7DE3F;
  --ground-color-2: #AB9842;
  --ghost-color: #7B62A3;
  --fire-color: #FD7D24;
  --fairy-color: #FDB9E9;
  --dragon-color-1: #53A4CF;
  --dragon-color-2: #F16E57;
  --bug-color: #729F3F;
}

#select-move option {
  color: black;

}

#barChart {
  height: auto !important;
  
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card-title {
  background-color: var(--first-color);
  color:white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  
}

.card-title-alpha {
  background-color: var(--first-color-alpha);
}

#logo {
  width: 100%;
  height: auto;
}

#lines-graph canvas {
  height: 100%;
}

.info.row, .chart.row {
  height: 50vh;
}
.flex.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#lines-graph div, #pie-graph div {
  width: 100%;
}



#types div {
  margin: 1rem;
  padding: 0.4rem;
  width: 100%;
}

.color-white {
  color: white;
}

.normal {
  background-color: var(--normal-color);
}
.psychic {
  background-color: var(--psychic-color);
}
.steel {
  background-color: var(--steel-color);
}
.dark {
  background-color: var(--dark-color);
}
.electric {
  background-color: var(--electric-color);
}
.fighting {
  background-color: var(--fighting-color);
}
.ghost {
  background-color: var(--ghost-color);
}
.fire {
  background-color: var(--fire-color);
}
.fairy {
  background-color: var(--fairy-color);
}
.bug {
  background-color: var(--bug-color);
}
.grass {
  background-color: var(--grass-color);
}
.ice {
  background-color: var(--ice-color);
}
.poison {
  background-color: var(--poison-color);
}
.rock {
  background-color: var(--rock-color);
}
.water {
  background-color: var(--water-color);
}

.flying {
  background-color: var(--flying-color-1);
}
.ground {
  background-color: var(--ground-color-1);
}
.dragon {
  background-color: var(--dragon-color-1);
}

.col-6 {
  background-color: red;
}

.col-3 {
  background-color: aqua;
}